<!DOCTYPE HTML>

<html>
	<head>
		<title>casualxg-Always foolish</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" type="image" href="/images/coldkiller.jpg">
		
		<!-- Bootstrap Core CSS -->
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

		<!--[if lte IE 8]><script src="javascripts/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="stylesheets/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie9.css" /><![endif]-->
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="/"><span>Always</span> FOOLISH</a></h1>
				<nav id="nav">
					<ul>
						<% if(!user){%>
							<li class="current"><a href="/">欢迎</a></li>
						<%}else{%>
							<li class="current"><a href="/">欢迎, <%=user.username%></a></li>
						<%}%>
						<li class="submenu">
							<a href="#">选项</a>
							<ul>
								<li><a href="/article.html">所有博客</a></li>
								<li><a href="/write.html">发布博客</a></li>
								<li><a href="/logout">登出</a></li>
							</ul>
						</li>
						<%if(!user){%>
						<li><a href="/login.html" class="button special">登录</a></li>
						<%}%>
					</ul>
				</nav>
			</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-linux"></span>
						<h2>小窝纪事</h2>
						<p><!--[-->写我所想， 做我所爱<!--]--></p>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<div class="row 150%">
								<div class="4u 12u(narrower)">

									<!-- Sidebar -->
										<div class="sidebar">
											<section>
												<!-- <ul class="list-group">
													<li class="list-group-item">IntelliJ 下配置springMVC，使用JBoss作为服务器</li>
													<li class="list-group-item">IntelliJ 下配置springMVC，使用JBoss作为服务器</li>
													<li class="list-group-item">IntelliJ 下配置springMVC，使用JBoss作为服务器</li>
													<li class="list-group-item">IntelliJ 下配置springMVC，使用JBoss作为服务器</li>
													<li class="list-group-item">IntelliJ 下配置springMVC，使用JBoss作为服务器</li>
												</ul> -->
												<div class="list-group" >
													<a href="#" class="list-group-item" style="border: 0px solid transparent"><h3>最近博客</h3></a>
													<% for(var i = 0; i < data.length; i ++){ %>
													<a href="/article/<%=data[i].url%>" class="list-group-item" style="border: 0px solid transparent"><%=data[i].title%></a>
													<%}%>
													</div>
												
											</section>

											<section>
												<!-- <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a> -->
												<div class="list-group" >
													<a href="#" class="list-group-item" style="border: 0px solid transparent"><h3>博客分类</h3></a>
													<a href="/article/category/study" class="list-group-item" style="border: 0px solid transparent">学习</a>
													<a href="/article/category/life" class="list-group-item" style="border: 0px solid transparent">生活</a>
													<a href="/article/category/work" class="list-group-item" style="border: 0px solid transparent">工作</a>
													<a href="/article/category/other" class="list-group-item" style="border: 0px solid transparent">其他</a>
												</div>
											</section>
										</div>

								</div>
								<div class="8u 12u(narrower) important(narrower)">

									<!-- Content -->
										<div class="content">
											<section>
												<!-- <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a> -->
												
												<% if (articles !== -1){for (index in articles){%>
													
												<header>
													<a href="/article/<%=articles[index].url%>"><h3><%=articles[index].title%></h3></a>
													
													<br/>
												</header>
												<p><%for(var i = 0; i < articles[index].content.length; i ++){%>
													<%=articles[index].content[i]%><br/>
													<%}%>
												</p>
												<h5 style="text-align: right"><%=articles[index].time%></h5>
												<br/><br/>
												<%}} else{%>
												<header>
													<h3>欢迎来到Leo的小窝</h3>
												</header>
												<a href="#" class="image featured"><img src="/images/sylm.jpg" alt="" /></a>
												<p>哇！！！！石原小姐姐好漂亮！！！</p>
												<%}%>
											</section>
										</div>

								</div>
							</div>
						</section>

				</article>

			<!-- Footer -->
			<footer id="footer">

                <ul class="icons">
                    <li><a href="https://twitter.com/casualture" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/casualxg" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://github.com/FebFirst" class="icon circle fa-github"><span class="label">Github</span></a></li>
                    <li><a href="https://www.youtube.com/channel/UC5mNVhrkWMFJ0vXFDXvBgqg?view_as=subscriber" class="icon circle fa-youtube"><span class="label">YouTube</span></a></li>
                </ul>
    
                <ul class="copyright">
                    <li>Always foolish</li>
                </ul>
    
            </footer>
		</div>

			<!-- Scripts -->
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/jquery.dropotron.min.js"></script>
			<script src="/javascripts/jquery.scrolly.min.js"></script>
			<script src="/javascripts/jquery.scrollgress.min.js"></script>
			<script src="/javascripts/skel.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<!--[if lte IE 8]><script src="javascripts/ie/respond.min.js"></script><![endif]-->
			<script src="/javascripts/main.js"></script>

			<!-- Bootstrap Core JavaScript -->
			<script src="/javascripts/bootstrap.min.js"></script>



			<script>

			</script>
	</body>
</html>