<!DOCTYPE HTML>

<html>
	<head>
		<title>GoogOL</title>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" type="image" href="/images/czym.png">
		
		<!-- Bootstrap Core CSS -->
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

		<!--[if lte IE 8]><script src="javascripts/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="stylesheets/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie9.css" /><![endif]-->
	</head>
	<body class="right-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="/"><span>Always</span> FOOLISH</a></h1>
				<nav id="nav">
					<ul>
						<% if(!user){%>
							<li class="current"><a href="/">欢迎</a></li>
						<%}else{%>
							<li class="current"><a href="/">欢迎, <%=user.username%></a></li>
						<%}%>
						<li class="submenu">
							<a href="#">选项</a>
							<ul>
								<li><a href="/article.html">所有博客</a></li>
								<li><a href="/write.html">发布博客</a></li>
								<li><a href="/image.html">所有照片</a></li>
								<li><a href="/upload.html">上传照片</a></li>
								<li><a href="/logout">登出</a></li>
							</ul>
						</li>
						<%if(!user){%>
						<li><a href="/login.html" class="button special">登录</a></li>
						<%}%>
					</ul>
				</nav>
			</header>


			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon featured fa-picture-o"></span>
						<h2><strong><!--[-->时光盒<!--]--></strong></h2>
						<p><!--[-->进去了，就无法再出来~<!--]--></p>
					</header>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="content">
								<div class="row 50%">
									<div class="3u 12u(mobile)">
										<input type="date" name="date" id="date1" />
									</div>
									<div class="3u 12u(mobile)">
										<input type="date" name="date" id="date2" />
									</div>
									<div class="1u 12u(mobile)">
										<input type="submit" style="min-width:8em; line-height:2.5em" class="btn btn-default" value="搜索" onclick="selectImg()" />
										<!-- <button class="btn btn-default" onclick="selectImg()">搜索</button> -->
									</div>

								</div>
							</div>
							<%for(var i = 0; i < images.length; i +=3){%>

							<div class="row">
								<%if(images[i]){%>
								<div class="4u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="/image/<%=images[i].name%>" alt="" /></a>
										<footer>	<p><%=images[i].content%></p></footer>
									</section>

								</div>
								<%}%>
								<%if(images[i +1]){%>
								<div class="4u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="/image/<%=images[i+1].name%>" alt="" /></a>
										<footer>	<p><%=images[i+1].content%></p></footer>
									</section>

								</div>
								<%}%>
									
								<%if(images[i +2]){%>
								<div class="4u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="/image/<%=images[i+2].name%>" alt="" /></a>
										<footer>	<p><%=images[i+2].content%></p></footer>
									</section>

								</div>
								<%}%>
							</div>
							<%}%>
						</section>

				</article>

			<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
						<li><a href="https://twitter.com/casualture" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/casualxg" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://github.com/FebFirst" class="icon circle fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.youtube.com/channel/UC5mNVhrkWMFJ0vXFDXvBgqg?view_as=subscriber" class="icon circle fa-youtube"><span class="label">YouTube</span></a></li>
				</ul>
    
				<ul class="copyright">
					<li>Copyright &copy; 2018.leoxiong.cn All rights reserved.</li>
				</ul>
    
		</footer>

		</div>

			<!-- Scripts -->
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/jquery.dropotron.min.js"></script>
			<script src="/javascripts/jquery.scrolly.min.js"></script>
			<script src="/javascripts/jquery.scrollgress.min.js"></script>
			<script src="/javascripts/skel.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<!--[if lte IE 8]><script src="javascripts/ie/respond.min.js"></script><![endif]-->
			<script src="/javascripts/main.js"></script>

			<!-- Bootstrap Core JavaScript -->
			<script src="/javascripts/bootstrap.min.js"></script>

			<script>
				function selectImg(){
					var date1 = $("#date1").val();
					var date2 = $("#date2").val();

					if(!date1 || !date2){
						console.log(date1);
						console.log(date2);
						return;
					}
					
					window.location.href = "/image/" + date1 + "/" + date2;
				}
			</script>

	</body>
</html>